@import "./index.css";

Header {
  text-align: center;
  align-items: center;
  background-color: var(--color-water-10);
  padding: 1rem 2rem;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

Main {
  display: flex;
  flex-direction: column;
}


.btnStyle {
    background-color: var(--color-nemo);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    width: 20%;
    
  }


Footer {
  text-align: center;
  align-items: center;
  bottom: 0;
  background-color: var(--color-granite);
  color: var(--color-foam);
}
