@import "./index.css";

Header {
  text-align: center;
  align-items: center;
  background-color: --color-water-10;
  padding: 1rem 2rem;
}

Footer {
  text-align: center;
  align-items: center;
  bottom: 0;
}
